<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<title>signup</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'loginassets/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginassets/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginassets/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginassets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginassets/vendor/animate/animate.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginassets/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginassets/vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginassets/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginassets/vendor/daterangepicker/daterangepicker.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginassets/css/util.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginassets/css/main.css'%}">
<!--===============================================================================================-->

	<body style=" ">
      <div class="limiter">
		  <form action="{% url 'signup' %}", method="POST">
		   {% csrf_token %}
                    <div class="wrap-input100 validate-input" data-validate = "username is required:">
						<input class="input100" type="text"  id="username" name="username">
						<span class="focus-input100"></span>
						<span class="label-input100">Username</span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate = "firstname is required:">
						<input class="input100" type="text"  id="first_name" name="first_name">
						<span class="focus-input100"></span>
						<span class="label-input100">Firstname</span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate = "lastname is required:">
						<input class="input100" type="text"  id="last_name" name="last_name">
						<span class="focus-input100"></span>
						<span class="label-input100">Lastname</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" id="email" name="email">
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
					</div>


					<div class="wrap-input100 validate-input" data-validate="Password is required:">
						<input class="input100" type="password" id="password" name="password">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>


					<div class="container-login100-form-btn">
						<button class="button">Submit</button>
						<button class="button">Cancel</button>&nbsp; &nbsp;
					</div>

		  </form>
	  </div>
	</body>


!--===============================================================================================-->
	<script src="{% static 'loginassets/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginassets/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginassets/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'loginassets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginassets/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginassets/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'loginassets/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginassets/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginassets/js/main.js' %}"></script>

{% endblock content %}
